<!-- <div class="page-container"> -->

<%- include('header') %>
    <main>
      <% if(typeof q !== 'undefined' && q){ %>
          <div class="alter-message">
            <%= q %>
          </div>
      <% } %>

      <div class="brand-grid">
        <% brands.forEach(brand => { %>
          <a href="/products/<%=brand.brand_id%>" class="brand-card-link">
            <div class="brand-card">
              <img src="<%=brand.logo %>" alt="<%= brand.brand_name %>">
              <h2><%= brand.brand_name%></h2>
            </div>
          </a>
        <% }) %>
      </div>
    </main>

<%- include('footer') %>

</body>
</html>
 