<div class="page-container">
<%- include('header') %>
    <main>
      <% if(typeof q !== 'undefined' && q){ %>
          <div class="alter-message">
            <%= q %>
          </div>
      <% } %>

      <div class="brand-grid">
        <% brands.forEach(brand => { %>
          <div class="brand-card">
            <img src="../statics/images/b_img/<%=brand.logo %>.jpg" alt="<%= brand.brand_name %>">
            <h2><%= brand.brand_name%></h2>
          </div>
        <% }) %>
      </div>
    </main>

<%- include('footer') %>
</body>
</html>
 